[submodule "packages/acl"]
	path = packages/acl
	url = git://github.com/obullo/acl.git
[submodule "packages/agent"]
	path = packages/agent
	url = git://github.com/obullo/agent.git
[submodule "packages/auth"]
	path = packages/auth
	url = git://github.com/obullo/auth.git
[submodule "packages/bcrypt"]
	path = packages/bcrypt
	url = git://github.com/obullo/bcrypt.git
[submodule "packages/cart"]
	path = packages/cart
	url = git://github.com/obullo/cart.git
[submodule "packages/config"]
	path = packages/config
	url = git://github.com/obullo/config.git
[submodule "packages/controller"]
	path = packages/controller
	url = git://github.com/obullo/controller.git
[submodule "packages/cookie"]
	path = packages/cookie
	url = git://github.com/obullo/cookie.git
[submodule "packages/database_pdo"]
	path = packages/database_pdo
	url = git://github.com/obullo/database_pdo.git
[submodule "packages/date_get"]
	path = packages/date_get
	url = git://github.com/obullo/date_get.git
[submodule "packages/db"]
	path = packages/db
	url = git://github.com/obullo/db.git
[submodule "packages/email"]
	path = packages/email
	url = git://github.com/obullo/email.git
[submodule "packages/encrypt"]
	path = packages/encrypt
	url = git://github.com/obullo/encrypt.git
[submodule "packages/error"]
	path = packages/error
	url = git://github.com/obullo/error.git
[submodule "packages/exceptions"]
	path = packages/exceptions
	url = git://github.com/obullo/exceptions.git
[submodule "packages/form"]
	path = packages/form
	url = git://github.com/obullo/form.git
[submodule "packages/ftp"]
	path = packages/ftp
	url = git://github.com/obullo/ftp.git
[submodule "packages/get"]
	path = packages/get
	url = git://github.com/obullo/get.git
[submodule "packages/hmvc"]
	path = packages/hmvc
	url = git://github.com/obullo/hmvc.git
[submodule "packages/hooks"]
	path = packages/hooks
	url = git://github.com/obullo/hooks.git
[submodule "packages/html"]
	path = packages/html
	url = git://github.com/obullo/html.git
[submodule "packages/lingo"]
	path = packages/lingo
	url = git://github.com/obullo/lingo.git
[submodule "packages/link"]
	path = packages/link
	url = git://github.com/obullo/link.git
[submodule "packages/log_write"]
	path = packages/log_write
	url = git://github.com/obullo/log_write.git
[submodule "packages/model"]
	path = packages/model
	url = git://github.com/obullo/model.git
[submodule "packages/mongo_db"]
	path = packages/mongo_db
	url = git://github.com/obullo/mongo_db.git
[submodule "packages/obullo"]
	path = packages/obullo
	url = git://github.com/obullo/obullo.git
[submodule "packages/odm"]
	path = packages/odm
	url = git://github.com/obullo/odm.git
[submodule "packages/output"]
	path = packages/output
	url = git://github.com/obullo/output.git
[submodule "packages/pager"]
	path = packages/pager
	url = git://github.com/obullo/pager.git
[submodule "packages/pdo_4d"]
	path = packages/pdo_4d
	url = git://github.com/obullo/pdo_4d.git
[submodule "packages/pdo_cubrid"]
	path = packages/pdo_cubrid
	url = git://github.com/obullo/pdo_cubrid.git
[submodule "packages/pdo_firebird"]
	path = packages/pdo_firebird
	url = git://github.com/obullo/pdo_firebird.git
[submodule "packages/pdo_ibm"]
	path = packages/pdo_ibm
	url = git://github.com/obullo/pdo_ibm.git
