[submodule "packages/acl"]
	path = packages/acl
	url = git://github.com/obullo/acl.git
[submodule "packages/agent"]
	path = packages/agent
	url = git://github.com/obullo/agent.git
[submodule "packages/config"]
	path = packages/config
	url = git://github.com/obullo/config.git
[submodule "packages/auth"]
	path = packages/auth
	url = git://github.com/obullo/auth.git
[submodule "packages/bench"]
	path = packages/bench
	url = git://github.com/obullo/bench.git
[submodule "packages/cart"]
	path = packages/cart
	url = git://github.com/obullo/cart.git
[submodule "packages/cookie"]
	path = packages/cookie
	url = git://github.com/obullo/cookie.git
[submodule "packages/database_pdo"]
	path = packages/database_pdo
	url = git://github.com/obullo/database_pdo.git
