[submodule "packages/agent"]
	path = packages/agent
	url = git://github.com/obullo/agent.git
[submodule "packages/config"]
	path = packages/config
	url = git://github.com/obullo/config.git
[submodule "packages/bench"]
	path = packages/bench
	url = git://github.com/obullo/bench.git
[submodule "packages/cart"]
	path = packages/cart
	url = git://github.com/obullo/cart.git
[submodule "packages/cookie"]
	path = packages/cookie
	url = git://github.com/obullo/cookie.git
[submodule "packages/date"]
	path = packages/date
	url = git://github.com/obullo/date.git
[submodule "packages/controller"]
	path = packages/controller
	url = git://github.com/obullo/controller.git
[submodule "packages/db"]
	path = packages/db
	url = git://github.com/obullo/db.git
[submodule "packages/error"]
	path = packages/error
	url = git://github.com/obullo/error.git
[submodule "packages/exceptions"]
	path = packages/exceptions
	url = git://github.com/obullo/exceptions.git
[submodule "packages/form_json"]
	path = packages/form_json
	url = git://github.com/obullo/form_json.git
[submodule "packages/form"]
	path = packages/form
	url = git://github.com/obullo/form.git
[submodule "packages/ftp"]
	path = packages/ftp
	url = git://github.com/obullo/ftp.git
[submodule "packages/hmvc"]
	path = packages/hmvc
	url = git://github.com/obullo/hmvc.git
[submodule "packages/auth"]
	path = packages/auth
	url = git://github.com/obullo/auth.git
[submodule "packages/html"]
	path = packages/html
	url = git://github.com/obullo/html.git
[submodule "packages/email"]
	path = packages/email
	url = git://github.com/obullo/email.git
[submodule "packages/i"]
	path = packages/i
	url = git://github.com/obullo/i.git
[submodule "packages/input"]
	path = packages/input
	url = git://github.com/obullo/input.git
[submodule "packages/link"]
	path = packages/link
	url = git://github.com/obullo/link.git
[submodule "packages/locale"]
	path = packages/locale
	url = git://github.com/obullo/locale.git
[submodule "packages/log"]
	path = packages/log
	url = git://github.com/obullo/log.git
[submodule "packages/obullo"]
	path = packages/obullo
	url = git://github.com/obullo/obullo.git
[submodule "packages/database_pdo"]
	path = packages/database_pdo
	url = git://github.com/obullo/database_pdo.git
[submodule "packages/encrypt"]
	path = packages/encrypt
	url = git://github.com/obullo/encrypt.git
[submodule "packages/model"]
	path = packages/model
	url = git://github.com/obullo/model.git
[submodule "packages/output"]
	path = packages/output
	url = git://github.com/obullo/output.git
[submodule "packages/router"]
	path = packages/router
	url = git://github.com/obullo/router.git
[submodule "packages/security"]
	path = packages/security
	url = git://github.com/obullo/security.git
[submodule "packages/vi"]
	path = packages/vi
	url = git://github.com/obullo/vi.git
[submodule "packages/view"]
	path = packages/view
	url = git://github.com/obullo/view.git
[submodule "packages/log_write"]
	path = packages/log_write
	url = git://github.com/obullo/log_write.git
[submodule "packages/validator"]
	path = packages/validator
	url = git://github.com/obullo/validator.git
[submodule "packages/pdo_mysql"]
	path = packages/pdo_mysql
	url = git://github.com/obullo/pdo_mysql.git
[submodule "packages/uri"]
	path = packages/uri
	url = git://github.com/obullo/uri.git
[submodule "packages/url"]
	path = packages/url
	url = git://github.com/obullo/url.git
[submodule "packages/acl"]
	path = packages/acl
	url = git://github.com/obullo/acl.git
[submodule "packages/odm"]
	path = packages/odm
	url = git://github.com/obullo/odm.git
[submodule "packages/sess"]
	path = packages/sess
	url = git://github.com/obullo/sess.git
[submodule "packages/sess_cookie"]
	path = packages/sess_cookie
	url = git://github.com/obullo/sess_cookie.git
[submodule "packages/sess_database"]
	path = packages/sess_database
	url = git://github.com/obullo/sess_database.git
[submodule "packages/sess_mongo"]
	path = packages/sess_mongo
	url = git://github.com/obullo/sess_mongo.git
[submodule "packages/sess_native"]
	path = packages/sess_native
	url = git://github.com/obullo/sess_native.git
[submodule "packages/string"]
	path = packages/string
	url = git://github.com/obullo/string.git
[submodule "packages/mongo_db"]
	path = packages/mongo_db
	url = git://github.com/obullo/mongo_db.git
[submodule "packages/navbar"]
	path = packages/navbar
	url = git://github.com/obullo/navbar.git
[submodule "packages/pager"]
	path = packages/pager
	url = git://github.com/obullo/pager.git
[submodule "packages/pdo_4d"]
	path = packages/pdo_4d
	url = git://github.com/obullo/pdo_4d.git
[submodule "packages/pdo_cubrid"]
	path = packages/pdo_cubrid
	url = git://github.com/obullo/pdo_cubrid.git
[submodule "packages/pdo_firebird"]
	path = packages/pdo_firebird
	url = git://github.com/obullo/pdo_firebird.git
[submodule "packages/pdo_ibm"]
	path = packages/pdo_ibm
	url = git://github.com/obullo/pdo_ibm.git
[submodule "packages/pdo_mssql"]
	path = packages/pdo_mssql
	url = git://github.com/obullo/pdo_mssql.git
[submodule "packages/pdo_oci"]
	path = packages/pdo_oci
	url = git://github.com/obullo/pdo_oci.git
[submodule "packages/pdo_odbc"]
	path = packages/pdo_odbc
	url = git://github.com/obullo/pdo_odbc.git
[submodule "packages/pdo_pgsql"]
	path = packages/pdo_pgsql
	url = git://github.com/obullo/pdo_pgsql.git
[submodule "packages/pdo_sqlite"]
	path = packages/pdo_sqlite
	url = git://github.com/obullo/pdo_sqlite.git
[submodule "packages/request"]
	path = packages/request
	url = git://github.com/obullo/request.git
[submodule "packages/task"]
	path = packages/task
	url = git://github.com/obullo/task.git
[submodule "packages/text"]
	path = packages/text
	url = git://github.com/obullo/text.git
