
# Disable directory indexing

Options -Indexes

# Disables all access to files and directories, sends all request to index.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Enable access for "resources/assets" folder, and the "robots.txt" file

RewriteCond $1 !^(index\.php|resources/assets|robots\.txt|favicon.ico)
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]