<?xml version="1.0"?>
<root>
<host>
	<all>
		<label>All Site</label>
		<maintenance>up</maintenance>
	</all>
	<site>
		<label>Web Site</label>
		<domain><regex>^framework$</regex></domain>
		<maintenance>up</maintenance>
	</site>
	<test>
		<label>Test</label>
		<domain><regex>test\d+.framework</regex></domain>
		<maintenance>down</maintenance>
	</test>
	<support>
		<label>Support</label>
		<domain><regex>support.framework</regex></domain>
		<maintenance>up</maintenance>
	</support>
</host>
<service>
	<all>
		<label>All Services</label>
		<maintenance>down</maintenance>
	</all>
	<queue>
		<label>Queue Service</label>
		<maintenance>down</maintenance>
	</queue>
</service>
</root>
<!--
END xml config File
End of file config.xml

Location: .app/config/env/local/config.xml
-->
