
# Disable directory indexing

Options -Indexes

RewriteEngine on

# Disables all access to files and directories, sends all request to index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [L]

# Enable access for "assets" folder, and the "robots.txt" file

RewriteCond $1 !^(index\.php|assets)
RewriteRule ^(.*)$ public/index.php/$1 [L,QSA]