
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 15px;
}

.welcome .header p {
  font-weight: 300;
  color: #777575;
  font-size: 1.17em;
  margin: 2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

a {
  color: #BF342A;
  background-color: transparent;
}
a:hover,
a:focus {
  color: #BF342A;
  outline: 0;
}

.nav-pills > li > a {
  color: #5B5B5B;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #5B5B5B;
  background: none;
  /* background-color: #5B5B5B; */
}

.content {

}

.content ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content ul {
  font-size: 16px;
  margin: 2em 0;
}
.content li {
  list-style: circle;
  margin: 1em;
  margin-left: 1em;
}

.link {
  font-size: 0.45em;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.welcome {
  text-align: center;
  margin-bottom: 100px;
}
.welcome .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.description p {
  font-weight: 300;
  color: #777575;
  font-size: 1.17em;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
