html,body {
    height:100%;
}
body
{
	font:11px 'Arial';
	background: #ddd;
	overflow-y:auto;
	overflow-x:hidden;
}
.clearfix
{
	clear: both;
}
.obulloDebugger-wrapper
{
	width:100%;
	background: #fff;
	display: block;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
}
.obulloDebugger-wrapper > .obulloDebugger-nav
{
	padding:0 5px;
	background: #eaeaea;
	border:1px solid #ccc;
	display: block;
	position: fixed;
	top:0;
	width:100%;
	z-index:99;
	border-width: 0 1px 1px 1px;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul
{
	list-style-type:none;
	height:100%;
	display: block;
	height:22px;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul:after
{
	content: '';
	display: block;
	clear: both;
}
.obulloDebugger-wrapper > .obulloDebugger-nav ul > li
{
	float: left;
	display: block;
}
.obulloDebugger-wrapper > .obulloDebugger-nav ul > li > a
{
	padding:0 8px;
	text-decoration:none;
	color:#5A5A5F;
	border-right:1px solid #ccc;
	display: block;
	height:22px;
	line-height:22px;
	transition:.2s;
	-webkit-transition:.2s;
	-moz-transition:.2s;
	outline:none;
}
.obulloDebugger-wrapper > .obulloDebugger-nav ul > li > a:hover
{
	background: #ddd;
}
.obulloDebugger-wrapper > .obulloDebugger-nav ul > li:nth-child(2) > a
{
	border-left:1px solid #ccc;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.obulloDebugger-activeTab > a
{
	background: #ddd;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.closeBtn
{
	float: right;
	margin-right:7px;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.closeBtn > a
{
	border:none;
	font-weight:bold;
	font-size:13px;
	color:#B8A4A4;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.closeBtn > a:hover
{
	color:#AC8282;
}
.obulloDebugger-wrapper > .obulloDebugger-container
{
	padding:12px;
	margin:25px 5px 2px 5px;
	color:#5A5A5F;
	height:calc(100% - 51px);
	height:-webkit-calc(100% - 51px);
	height:-moz-calc(100% - 51px);
	height:-o-calc(100% - 51px);
	height:-ms-calc(100% - 51px);
	overflow-y:auto;
	overflow-x:hidden;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.favicon
{
	margin-right:10px;
}
.obulloDebugger-wrapper > .obulloDebugger-nav > ul > li.favicon img
{
	margin-top:3px;
	display: block;
}
.obulloDebugger-wrapper > .obulloDebugger-container  p
{
	padding:1px 0;
	background:white;
	cursor:pointer;
	position: relative;
}
.obulloDebugger-wrapper > .obulloDebugger-container  p:hover
{
	background:rgb(234, 234, 234);
	color:#000;

}
.obulloDebugger-wrapper .obulloDebugger-container p:hover  span.date
{
	color:#000;
}
.obulloDebugger-wrapper .obulloDebugger-container  p  span.date
{
	/*font-weight:bold;*/
	padding-right:3px;
	border-right:1px solid #ccc;
	color: #e53528;
}
.obulloDebugger-wrapper .obulloDebugger-container  img.icon
{
	width:12px;
	height:12px;
	position: absolute;
	left:5px;
}
.obulloDebugger-wrapper > .obulloDebugger-container p span.info
{
	padding-left:3px;
}
.hiddenContainer
{
	display: none;
}
.obulloDebugger-wrapper > .obulloDebugger-container.obulloDebugger-layer-tabs > p.active > span.date
{
	color:#fff;
}
.obulloDebugger-wrapper > .obulloDebugger-container.obulloDebugger-layer-tabs > p.active
{
	background: #006353;
	color:#fff;
}
.obulloDebugger-wrapper > .obulloDebugger-container.obulloDebugger-layer-tabs > p.active + div.obulloDebugger-layer 
{
	display: block;
} 
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer
{
	padding:5px;
	margin:10px 20px;
	display: none;
	margin-top:2px;
	border-radius:5px;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer ul
{
	list-style-type:none;
	background: #006353;
	border-radius:2px;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer ul:after
{
	content: '';
	display: block;
	clear: both;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer > ul > li
{
	float: left;
	margin:5px 1px;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer > ul > li > a
{
	color:#fff;
	text-decoration:none;
	padding:2px 5px;
	outline:none;
	margin:5px;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer > ul > li.activeDebuggerAnch > a
{
	background:#333;
	color:#fff;
	border-radius:2px;
}
.obulloDebugger-wrapper > .obulloDebugger-container > div.obulloDebugger-layer.hiddenContainer
{
	display: none;
}
.obulloDebugger-layerContainer
{
	display: none;
}
.obulloDebugger-layerContainer.activeLayer
{
	display: block;
}
.obulloDebugger-layerContainer
{
	padding:15px 25px;
	border:1px dotted #ddd;
	background: #f1f1f1;
}
#obulloDebugger-ajax > p > span.date
{
	color:#0070FF;
}
.obulloDebugger-layer-tabs .layer-html .header .obulloDebugger-layer-tabs .layer-json .header
{
	color:#ccc;
	border-top:1px dotted #ddd;
	text-shadow:1px 1px 1px black;
}
.obulloDebugger-layer-tabs .layer-html .container,.obulloDebugger-layer-tabs .layer-json .container
{
	border-radius:2px;
	padding:10px;
	margin-left:50px;
	border:1px dotted #ddd;
}
.obulloDebugger-layer-tabs .layer-html .container pre
{
	float: left;
	width:45%;
	height:100%;
	display: block;
}
.obulloDebugger-layer-tabs .layer-html .container .preview
{
	float: right;
	width:50%;
	border:1px solid #ddd;
	min-height:50px;
	padding:25px;
}
.obulloDebugger-layer-tabs .layer-html .header i:first-child,.obulloDebugger-layer-tabs .layer-json .header i:first-child
{
	background:#006857;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-right:none;
	color:#fff;
}
.obulloDebugger-layer-tabs .layer-html ,.obulloDebugger-layer-tabs .layer-json
{
	border-top:1px dotted #ddd;
}
.obulloDebugger-layer-tabs .layer-html .header i,.obulloDebugger-layer-tabs .layer-json .header i
{
	/*font-weight:bold;*/
	color:#444;
	text-shadow:none;
	height:15px;
	line-height:15px;
	display: inline-block;
	padding:5px 5px;
	text-align:center;
}
.obulloDebugger-layer-tabs .layer-html,.obulloDebugger-layer-tabs .layer-json
{
	/*background: #444;*/
	margin-bottom:15px;
	border-radius:2px;
	/*border:1px solid #ddd;*/
	min-height:25px;
}
.fireMiniTab
{
	color:#333;
	text-decoration:none;
	display: block;
	padding:8px;
	border-radius:2px;
	border:1px dotted #ddd;
	margin:5px;
}
#obulloDebugger-environment div
{
	display: none;
	margin:5px;
}
.activeMiniTab
{
	font-weight:bold;
	color:#333;
}
#obulloDebugger-environment div table
{
	width:100%;
	display: table;
	margin:0 auto;
}
#obulloDebugger-environment div table thead tr th
{
	background: rgba(236, 236, 236, 0.51);
	padding: 8px 4px;
	font-weight: bold;
	text-align:center;
}
#obulloDebugger-environment div table td,#obulloDebugger-environment div table th
{
	padding:6px 4px;
	background: rgba(236, 66, 66, 0.04);
	text-align:left;
}
#obulloDebugger-environment div table tr
{
	border:1px solid rgba(182, 182, 182, 0.18);
}
#obulloDebugger-environment > div > table > tbody > tr > th
{
	border-right: 2px solid #ddd;
	padding-left: 10px;
	background: #ECECEC;
	color: #000;
}
#obulloDebugger-environment > div > table > tbody > tr > td
{
	padding-left:10px;
}
.test{background: #000;}