<?xml version="1.0"?>
<root>
	<route>
		<all maintenance="up" label="All Application"/>
		<site maintenance="up" label="Web Server" regex="^framework$"/>
		<test maintenance="up" label="Test Server" regex="test\d+.framework"/>
		<support maintenance="up" label="Support Domain" regex="support.framework"/>
	</route>
	<service>
		<all maintenance="down" label="All Services"/>
		<queue maintenance="up" label="Queue Service"/>
	</service>
	<container>
		<service>
			<logger class="Log/Env/ProdLogger"/>
		</service>
		<provider></provider>
	</container>
</root>
<!--
END xml config File
End of file config.xml

Location: .app/config/env/local/config.xml
-->